.cart{
    margin: 20px 0px;
    padding: 10px 20px;
    position: sticky;
    top: 0;

}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}