.cart{
    padding: 10px 20px;
    position: sticky;
    top: 0;

}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.break-time{
    display: flex;
    gap: 10px;
}

.break-time > button{
    border-radius: 50%;
    padding: 5px;
    background-color: white;
}

.time-details{
    margin-top: 50px;
}
