.cart{
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background-color: lightblue;

}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.break-time{
    display: flex;
    gap: 10px;
}

.break-time > button{
    border-radius: 50%;
    padding: 10px;
    background-color: blue;
    border: none;
    color: white;
    outline: none;

}

.time-details{
    margin-top: 50px;
}

.activity{
    background-color: blue;
    color: white;
    margin: 10px auto;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}